<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件</title>
	<script src="js/vue.js"></script>
	<style>
		a{
	text-decoration: none;
	color:#333;
	}
	ul{
		list-style: none
	}
	h1{text-align: center;}
	.demo{
		width:700px;
		margin: 50px auto;
	}
	.reverse{
		cursor: pointer;
	}
	button.active{
		background: #ff2972;
		color: #fff;
	}
	</style>
</head>
<body>
	<div class="demo">
		<h1>组件</h1>
		<h2>一.全局组件</h2>
		<h3>1.基本用法</h3>
		<!--基本用法:var Aaa=Vue.extend({});Vue.component('',Aaa);!-->
		<aaa></aaa>
		<hr>
		<h3>组件里放置数据：data必须是函数的形式，函数必须返回一个对象（json）</h2>
		<bbb></bbb>
		<hr>
		<h3>组件里放置事件：点击反转数据</h2>
		<ccc></ccc>
		<hr>
		<h3>2.另一种用法</h3>
		<ddd></ddd>
		<hr>
		<hr>
		<h2>二.局部组件</h2>
		<h3>1.基本用法</h3>
		<eee></eee>
		<hr>
		<h3>组件里放置数据事件：点击反转数据</h3>
		<fff></fff>
		<hr>
		<h3>2.另一种写法</h3>
		<ggg></ggg>
		<hr><hr>
		<h2>三.配合模版使用</h2>
		<h3>1.常用的技巧是用 script 标签包含模板</h3>
		<hhh></hhh>
		<hr>
		<h3>2.用 template 标签包含模板</h3>
		<iii></iii>	
		<hr><hr>
		<h2>四.动态组件</h2>
		<h3>component标签包含模板</h3>
		<button v-for="(list, index) in tabs" @click="collect(index)" v-bind:class="{active: m==index}">{{list}}</button>
		<component :is='contents[m]'></component>
		<hr><hr>
		<h2>五.父子组件</h2>
		<h3>基本用法</h3>
		<jjj></jjj>
		<hr>
		<h3>子组件不能直接获取父组件的数据,需要使用props传递</h3>
		<lll></lll>
		<hr>
		<h3>子组件获取父组件的多个数据</h3>
		<ooo></ooo>
		<hr>
		<h3>父组件获取子组件的数据</h3>
		<qqq></qqq>
	</div>
	<template id="qqq">
		<h2>我是qqq组件--{{msg}}<rrr @child-msg="get"></rrr></h2>
	</template>
	<template id="rrr">
		<h2>我是rrr组件-<input type="button" value="send" @click="send"></h2>
	</template>
	<template id="ooo">
		<h2>我是ooo组件<ppp v-bind:ooo="msg" v-bind:my-Data="msg2"></ppp></h2>
	</template>
	<template id="lll">
		<h2>我是lll组件<mmm v-bind:nnn="msg"></mmm></h2>
	</template>
	<template id="iii">
		<ul>
			<li v-for="(item,index) in items">{{index}}-{{item}}</li>
		</ul>
	</template>
	<script type="x-template" id="template">
		<p class="reverse" @click="change">{{message}}</p>
	</script>
	
	<script>
		/*全局组件*/
		var Aaa=Vue.extend({
			template:'<p>我是标题3</p>'
		});
		Vue.component('aaa',Aaa);
		var Bbb=Vue.extend({
			template:'<p>{{message}}</p>',
			data(){
				return{
					message:'数据'
				}
			}
		});
		Vue.component('bbb',Bbb);
		var Ccc=Vue.extend({
			template:'<p v-on:click="change()" class="reverse">{{message}}</p>',
			data(){
				return{
					message:'hello world'
				}
			},
			methods:{
				change(){
					this.message =this.message.split('').reverse().join('');
				}
			}
		});
		Vue.component('ccc',Ccc);
		Vue.component("ddd",{
			template:'<p v-on:click="change()" class="reverse">{{message}}</p>',
			data(){
				return{
					message:"你好"
				}
			},
			methods:{
				change(){
					this.message =this.message.split('').reverse().join('');
				}
			}
		})
		/*局部组件*/
		var Eee=Vue.extend({
			template:'<p>hello</p>'
		});
		var Fff=Vue.extend({
			template:'<p  class="reverse" @click="change()">{{message}}</p>',
			data(){
				return{
					message:'today'
				}
			},
			methods:{
				change(){
					this.message=this.message.split('').reverse().join('')
				}
			}
		});
		var vm=new Vue({
			el:'.demo',
			data:{
			 	tabs:["tab1","tab2","tab3","tab4"],
			 	m: 0,
			 	contents:["tab1","tab2","tab3","tab4"]
			},
			methods:{
				collect (index) {
					this.m = index
				}
		 	},	
			components:{
				"eee":Eee,
				"fff":Fff,
				"ggg":{
					template:'<p class="reverse" @click="change()">{{message}}</p>',
					data(){
						return{
							message:'hello hello'
						}
					},
					methods:{
						change(){
							this.message=this.message.split('').reverse().join('')
						}
					}
				},
				"hhh":{
					template:'#template',
					data(){
						return{
							message:'hello ok',
						}
					},
					methods:{
						change(){
							this.message=this.message.split('').reverse().join('')
						}
					}
				},
				"iii":{
					template:'#iii',
					data(){
						return{
							items:["11","22","333"]
						}
					}
				},
				"tab1":{
					template:'<p>我是aaa组件</p>'
				},
				"tab2":{
					template:'<p>我是bbb组件</p>'
				},
				"tab3":{
					template:'<p>我是ccc组件</p>'
				},
				"tab4":{
					template:'<p>我是ddd组件</p>'
				},
				"jjj":{
					template:'<h2>我是jjj组件<kkk></kkk></h2>',
					components:{
						"kkk":{
							template:"<h3>我是kkk组件</h3>"
						}
					}

				},
				"lll":{
					data(){
						return{
							msg:'我是父组件的数据'
						}
					},
					template:"#lll",
					components:{
						"mmm":{
							props:['nnn'],
							template:'<h3>我是mmm组件--{{nnn}}</h3>'
						}
					}
				},
				"ooo":{
					data(){
						return{
							msg:'我是父组件的数据',
							msg2:'我是父组件的第二个数据数据2'
						}
					},
					template:"#ooo",
					components:{
						"ppp":{
							props:['ooo','myData'],
							template:'<h3>我是mmm组件--{{ooo}}---{{myData}}</h3>'
						}
					}
				},
				"qqq":{
					data(){
						return{
							msg:'父组件数据',
						}
					},
					methods:{
						get(msg){
							// alert(msg);
							this.msg=msg;
						}
					},
					template:"#qqq",
					components:{
						"rrr":{
							template:'#rrr',
							data(){
								return{
									msg2:'我是子组件的数据',
								}
							},
							methods:{
								send(){
									this.$emit('child-msg',this.msg2)
								}
							}

						}
					}
				}
			}
		});
	</script>
</body>
</html>